page-modal-list-gas {
    super-tab-button.selected{
        background-color: #e8e8e8;
    }
    // My Style
    .contentitemlist{
        display: flex;
        align-items: center;
        .logo{
            flex-grow: 0;
            width: 20%;
            padding: 10px;
        }
        .info{
            flex-grow: 1;
            padding-left: 10px;
            p:nth-child(1){
                font-size: 25px;
                color: black;
                font-weight: 100;
            }
            p:nth-child(2){
                font-size: 15px;
                color: black;
            }
        }
        .price{
            flex-grow: 0;
            font-size: 25px;
            color: #058412;
        }
    }
}
